@media (max-width: 10000px) { /*768px*/
  body {

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-between;

    background-color: #e27396;
    color: white;
  }

  #init_text {
    position: relative;
    top: 0%;

    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

  }

  #init_text #init_title, .init_simple{

    max-width: 90%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    text-align: center;
  }

  #timeline {
    position: relative;

    transition: transform 0.5s;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    width: 1.5%;
    height: 80vh;
 
    top: 40%;

    background-color: #ea9ab2;
  }

  .timemark {


    cursor: pointer;

    height: 3vh;
    width: 3vh;

    background-color: #e27396;

    border-radius: 100%;

    border: 8px, solid, #efcfe3;

    display: block;

    justify-content: center;
    align-items: center;

  }

  .timemark-content {

    position: relative;

    border-radius: 15px;

    bottom: 0px;

    background-color: aqua;

    overflow: hidden;

  }

  #end_text {

    margin-top: 0, 10vh;

    text-align: center;
    max-width: 90%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }

  #end_text img {
    max-width: 60vw;

    max-height: 60vw;
  }
}

